<!-- <form class="dropdown-menu p-4"> -->
<div class="container" style="width: 400px;">
  <div class="mb-3">
    <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
    <input type="email" class="form-control" id="user" placeholder="email@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" placeholder="Password">
  </div>
  <div class="d-flex column justify-content-center">
    <button type="submit" class="btn btn-primary">Continuar</button>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </div>
</div>
<!-- </form> -->