.cuadro{

    border-bottom:  1px solid black;
    border-radius: 50px;
    width: 500px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #768948;
    color: #e4e8ce;
    box-shadow: #32371a 0 -10px 40px -10px inset;
}

h2
{
    color: aliceblue;
}