<div class="container d-flex justify-content-center">

  <div class="card" style="width: 13rem;">
    <img src="/assets/img/preguntados.png" class="card-img-top" alt="Preguntados">
    <div class="card-body">
      <h5 class="card-title">Preguntados</h5>
      <p class="card-text">Te damos la bienvenida al universo de trivias multiplataforma número 1 en el mundo.
        ¡Recórrelo y diviértete junto a Willy y todos los personajes!</p>
      <a href="#" class="btn btn-primary">Jugar</a>
    </div>
  </div>

  <div class="card" style="width: 13rem;">
    <img src="/assets/img/Ahorcado.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ahorcado</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button class="btn btn-primary" routerLink="juegos/ahorcado">Jugar</button>
    </div>

  </div>
  <div class="card" style="width: 13rem;">
    <img src="/assets/img/mayorOmenor/1.PNG" class="card-img-top" alt="MayorMenor">
    <div class="card-body">
      <h5 class="card-title">Mayor o Menor</h5>
      <p class="card-text">Te damos la bienvenida al juego de azar en el cual deberas adivinar la proxima carta</p>
      <a href="#" class="btn btn-primary" routerLink="juegos/MayorMenor">Jugar</a>
    </div>
  </div>
</div>