<nav>
    <ul>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['home']">
          <span data-text="Home">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['juegos']">
          <span data-text="Juegos">Juegos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['puntos']">
          <span data-text="Puntos">Puntos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']">
          <span data-text="Login">Login</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['mylife']">
          <span data-text="Quien Soy">Quien Soy</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <span data-text="Contact">Contact</span>
        </a>
      </li>
    </ul>
  </nav>