<div class="d-flex flex-row bd-highlight">
    <button  class="botones" id="login" (click)="redirigir()">Login</button>
    <button  class="botone" id="desconectar" (click)="desconectar()">Desconectar</button>
    <button class="botones" id="Registrarse" (click)="registrarse()">Registrarse</button>
</div>

<nav>
  <ul>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['home']">
        <span data-text="Home">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['juegos']">
        <span data-text="Juegos">Juegos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['puntos']">
        <span data-text="Puntos">Puntos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['mylife']">
        <span data-text="Quien Soy">Quien Soy</span>
      </a>
    </li>
  </ul>
</nav>