<div class="d-flex flex-row bd-highlight">
  <div *ngIf="estaLogeado">
    <button  class="botone" id="desconectar" (click)="desconectar()">Desconectar</button>
  </div>

  <div *ngIf="!estaLogeado">
    <button  class="botones" id="login" (click)="redirigir()">Login</button>
    <button class="botones" id="Registrarse" (click)="registrarse()">Registrarse</button>
  </div>
</div>

<nav class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['home']">
        Home
      </a>
    </li>
    <li *ngIf="estaLogeado" class="nav-item">
      <a class="nav-link" [routerLink]="['juegos']">
        Juegos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['puntos']">
        Puntos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['mylife']">
        Quien Soy
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['encuesta']">
        Encuesta
      </a>
    </li>
</nav>