#principal
{
    border: 1px solid black;
    width: 1000px;
    height: 400px;
}

.container
{
    margin: 0 auto;
    border-radius: 7px;
}

button
{
    border-radius: 100px;
    margin: 5px;
    width: 50px;
}

img
{
    margin-right: 30px;
}

.btn-sec
{
    width: auto;
}